
<form action="/desafio" method="post" enctype="multipart/form-data">
    <div> <label for="titulo">Title</label>
      <input type="text" name="titulo" id="titulo">
    </div>
    <div>
        <label for="image">Video</label>
        <input type="file" name="theFile" id="theFile">
    </div>
    <button type="submit">Add Blog</button>
</form>


<!--
<form action="/desafio" method="post" enctype="multipart/form-data">
    <div> <label for="titulo">Title</label>
        <input type="text" name="titulo" id="titulo">
    </div>
    <div> <label for="texto">Descrição</label>
        <input type="text" name="descricao" id="descricao">
    </div>
    <div> <label for="texto">Nivel</label>
        <input type="text" name="nivel" id="nivel">
    </div>
    <div> <label for="texto">Tag</label>
        <input type="text" name="tag" id="tag">
    </div>
    <div> <label for="texto">É premium</label>
        <input type="text" name="ehPremium" id="ehPremium">
    </div>
    <div>
        <label for="image">Video</label>
        <input type="file" name="theFile" id="theFile">
    </div>
    <button type="submit">Add Blog</button>
</form> -->
